<article{{ attributes.addClass('post') }}>
  <h3><a href="{{ url }}">{{label}}</a></h3>
  <p><em>Posted on {{ node.getCreatedTime|format_date('medium') }}</em></p>
  {{ content.body }}... <a href="{{ url }}">Read More</a>
</article>
